################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStore/.vs/BookStore
/BookStore/BookStoreWebApp/obj
*.bin
/BookStore/BookStoreWebApp/bin/Debug/net8.0/BookStoreWebApp.dll
/BookStore/BookStoreWebApp/bin/Debug/net8.0/BookStoreWebApp.exe
/BookStore/BookStoreWebApp/bin/Debug/net8.0/BookStoreWebApp.pdb
/BookStore/BookStoreWebApp/bin/Debug/net8.0/appsettings.json
